 #logo {
    width: 90px; 
    height: auto;
      mix-blend-mode: multiply;
      }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eef7f6;
        padding: 10px 20px;
         }
      
      
      nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
      }
      
      nav a {
        text-decoration: none;
        color: #2a5d67;
        font-weight: bold;
      }
      
      nav a:hover {
        color: #1b3c42;
      }
          
      .topics {
        display: flex;
        gap: 20px;
        padding: 50px;
        background-color: #eef7f6; 
      }
      
      .card {
        flex: 1;
        padding: 20px;
        background-color: #f7fdfc;  
        border-radius: 10px;
      }
      
      button {
        background-color: #2a5d67;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
      }
      .hero-content {
        padding: 50px;
        text-align: center;
        max-width: 800px;
        margin: auto;
        color: #2a5d67;
      }
      .footer {
        background-color: #eef7f6;
        margin-top: auto;
        color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;margin-top: auto; 
            background-color: #eef7f6;
            color: white;
            text-align: center;
            padding: 10px 20px;
            font-size: 14px;
      }
      #home{
       
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
      }
      .footer p {
        margin: 0;
        font-size: 14px;
        color: #2a5d67;
      }
      .footer a {
        color: #64868d;
        text-decoration: none;
        display: flex; 
        font-size: larger;
      }
      .footer a:hover {
        text-decoration: underline;
      }
